.body__central {
  border-top: 20px; }

.body__central__divGlobal {
  width: 80%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; }

.body__central__divGlobal__columnaCentral {
  display: inline-block;
  margin: 0px 1% 0px 1%;
  width: 25%;
  border-style: dashed;
  text-align: center;
  border-color: black;
  border: 4px;
  color: black;
  padding: 20px; }

.body__central__divGlobal__columnaCentral:hover {
  border-style: solid;
  border-color: rgba(38, 0, 255, 0.781); }

.btn-danger {
  background-color: rgba(38, 0, 255, 0.781) !important;
  font-family: 'Times New Roman', Times, serif; }

.imagen__carrusel {
  width: 70%;
  height: 30%; }

.btn-danger:hover {
  color: rgba(38, 0, 255, 0.781);
  background-color: white !important; }

.titulo {
  font-size: 150%;
  text-decoration-color: blue; }

.textoDeColumnas {
  font-size: 5; }

.ul {
  color: black; }

.divGlobal {
  width: 100%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; }

.menu {
  display: grid;
  grid-template-columns: auto 5% 5% 5% 5% 5%;
  grid-column-gap: 1%;
  grid-template-rows: 40px;
  /*justify-content: flex-end;*/
  text-align: center;
  text-shadow: 8px 8px 8px #aaa; }

.botonMenu {
  border-color: orange;
  border-style: solid;
  background-color: white;
  color: black;
  text-shadow: none; }

.botonMenu:hover {
  background-color: black;
  color: white; }

.textoCentral {
  font-family: 'Tangerine', cursive;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  font-size: 90px; }

.contacto {
  display: flex;
  flex-direction: column; }

.contenido {
  background-image: url("imagenes/logo.png");
  background-repeat: no-repeat;
  background-position: center; }

.textoCentral {
  animation-name: saludar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-delay: 1s;
  color: rgba(255, 60, 0, 0.747); }

@keyframes saludar {
  0% {
    width: 80%; }
  25% {
    width: 90%; }
  50% {
    width: 100%; }
  75% {
    width: 90%; }
  100% {
    width: 100%; } }

.carousel-inner img {
  width: 150px;
  height: 1200px; }

@media (min-width: 576px) {
  .carousel-inner img {
    width: 575px;
    height: 700px; }
    .carousel-inner img .textoCentral {
      font-size: 20%; }
  .imagenCentral {
    align-content: center;
    width: 30vw;
    height: 40vh; } }

.divisor__menu {
  border-color: rgba(38, 0, 255, 0.781) !important;
  border-style: solid;
  height: 1px; }

.columnaCentralImagenAnimacion {
  transition: all .8s ease;
  filter: grayscale(85%); }

.columnaCentralImagenAnimacion:hover {
  transform: scale(1.1);
  filter: grayscale(0%); }

.callout-info {
  border-left-color: rgba(38, 0, 255, 0.781); }

.body__central__divGlobal__columnaCentral {
  background: transparent !important;
  color: white; }

.claseFooter {
  color: white !important;
  align: center;
  text-align: center;
  background-color: rgba(38, 0, 255, 0.781) !important;
  font-size: 18px; }

.navCentral {
  text-align: center;
  margin: 0 auto;
  left: 5%;
  right: 0px;
  display: inline;
  align-items: center;
  background-image: url("imagenes/400.gif");
  opacity: 90%;
  background-repeat: no-repeat;
  height: 130px;
  background-size: cover;
  background-position: 10% 25%; }

.navbar-brand {
  opacity: 100% !important; }

.columnaEquipos {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center; }

.rowEquipos:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 600px) {
  .columnaEquipos {
    width: 100%; } }

.columnaEquiposImagen {
  width: 280px;
  height: 250px; }
